.Inter{


  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
}

.btn{

    background-color: #469165;
    padding: 12.5px 16px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    


}














#menu{
    display: flex;
    justify-content: space-around;


}

.main-menu{

    display: flex;
    gap: 32px;
    list-style-type: none;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: #000;

    

}
.main-menu li a{

    text-decoration: none;
    color: #000;
}

