*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.Inter{


  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
}

.btn{

    background-color: #469165;
    border: none;
    padding: 12.5px 16px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;

}














#menu{
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;
    align-items: center;


}

.main-menu{

    display: flex;
    gap: 32px;
    list-style-type: none;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: #000;

    

}
.main-menu li a{

    text-decoration: none;
    font-size: 16px;
    color: #000;
}


#banner{

    background-image: url("../images/hero-bg.png");
    height: 674px;
    background-repeat: no-repeat;
    background-position: center;

    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;


}

#banner .banner-container{

    width: 85%;
    max-width: 1360px;
    margin: 115.5px auto 179.5px;
    text-align: center;

}

.banner-container .early{

    background-color: #FFFFFF;
    margin-bottom: 16px;
    padding: 8px 12px;
    border: none;
    border-radius: 500px;
    color: #469165;
    font-size: 16px;
    font-weight: 500;

}
.banner-container .title-container{

    width: 56%;
    max-width: 770px;
    margin: 0 auto;
    font-size: 72px;
    line-height: 84px;

}

.banner-container .tittle-one{

    color: #FFFFFF;

}
.banner-container .tittle-two{

    color: #30B868;

}

.banner-container p{

    width: 85%;
    max-width: 1360px;
    margin: 16px auto 32px;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;

    
}

.banner-container .button-container{
    
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;


}


.button-container .transparent{

    background-color: #46916500;
    border: none;
    padding: 12.5px 16px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;    
    border: 1px solid white;
    border-radius: 4px;
}




